:root {
  --color-indigo-50: oklch(0.962 0.018 272.314);
  --color-indigo-100: oklch(0.93 0.034 272.788);
  --color-indigo-200: oklch(0.87 0.065 274.039);
  --color-indigo-300: oklch(0.785 0.115 274.713);
  --color-indigo-400: oklch(0.673 0.182 276.935);
  --color-indigo-500: oklch(0.585 0.233 277.117);
  --color-indigo-600: oklch(0.511 0.262 276.966);
  --color-indigo-700: oklch(0.457 0.24 277.023);
  --color-indigo-800: oklch(0.398 0.195 277.366);
  --color-indigo-900: oklch(0.359 0.144 278.697);
  --color-indigo-950: oklch(0.257 0.09 281.288);

  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);

  --color-black: #000;
  --color-white: #fff;
}

:root {
  --color-background: var(--color-white);
  --color-background-soft: var(--color-neutral-200);
  --color-background-mute: var(--color-neutral-300);

  --color-divider: var(--color-neutral-400);
  --color-divider-light: var(--color-neutral-500);

  --color-text-1: var(--color-black);
  --color-text-2: var(--color-neutral-950);
  --color-text-3: var(--color-neutral-900);
  --color-text-4: var(--color-neutral-800);

  --color-brand: var(--color-indigo-500);
  --color-brand-light: var(--color-indigo-400);
  --color-brand-dark: var(--color-indigo-600);
}

.dark {
  --color-background: var(--color-neutral-950);
  --color-background-soft: var(--color-neutral-900);
  --color-background-mute: var(--color-neutral-800);

  --color-divider: var(--color-neutral-700);
  --color-divider-light: var(--color-neutral-600);

  --color-text-1: var(--color-neutral-50);
  --color-text-2: var(--color-neutral-200);
  --color-text-3: var(--color-neutral-300);
  --color-text-4: var(--color-neutral-500);

  --color-brand: var(--color-indigo-500);
  --color-brand-light: var(--color-indigo-400);
  --color-brand-dark: var(--color-indigo-600);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background-1);
  color: var(--color-text-1);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
